<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.medcmanagementapp">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MedCManagementApp"
        tools:targetApi="31">
        <activity
            android:name=".CreateAppointment"
            android:exported="false" />
        <activity
            android:name=".StudentAfterSignupActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AppointmentListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SingleAppointment"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddMedicinesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SingleInventoryView"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewInventoryActivity"
            android:exported="false" />
        <activity
            android:name=".EditDoctorsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditMedicineActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddDoctorsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SingleDoctorView"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DoctorsListView"
            android:exported="false"
            android:label="@string/title_activity_doctors_list_view"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MedCManagementApp.NoActionBar" />
        <activity
            android:name=".SignUpPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudentPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>